 body {
    background-color:rgb(20, 19, 19) ;
    font-family: verdana;
}
.escritas {
    font-style: italic ;
    color: white;
    font-size: 60px;
    margin-left:25rem;
    margin-top: 10rem;
}
.mouse {
    color: white;
    margin-left: 30rem;
    margin-top: 5rem;
}
